<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="resources/css/login.css">
  <link rel="icon" href="resources/T islam logo.png" type="image/x-icon">
  <script src="/resources/js/main.js"></script>

</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form id="loginForm">
      <label for="username">Username:</label>
      <input type="text" id="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" required>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>
  </div>
  
  <script src="/resources/js/login.js"></script>
</body>
</html>
