/*
PUT YOUR NAVBAR Here
*/

<footer>
    <div class="icons">
        <a href="/"><i class="fas fa-home"></i></a>
        <a href="/Contact"><i class="fas fa-calendar"></i></a>
        <a href="/Settings"><i class="fas fa-cog"></i></a>
        <a href="/Support"><i class="fas fa-question-circle"></i></a>
        <a href="/Logout" id="logoutButton"><i class="fas fa-sign-out-alt"></i></a>
    </div>
</footer>
<br>